:root {
    --searchbar-height: 6vh;
}

html, body {
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: "Helvetica";
    src: url(./helvetica-255-webfont/Helvetica.woff);
}

body {
    font-family: Helvetica,sans-serif;
    color: #282C26;
    background-image: url(./background/noon.jpg);
    display: grid;
    grid-template-rows: 1fr 4fr 3fr;
    align-items: center;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.header {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    place-items: center;
}

.searchbar {
    display: grid;
    grid-template-columns: 9fr 1fr;
    height: var(--searchbar-height);
    width: 100%;
}

.header_icon {
    width: 8vh;
    height: 8vh;
}

input{
    all: unset;
    border: solid 2px white ;
    font-size:1.5rem;
    padding-left: 10px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282C26;
    width: 6vh;
    height: 6vh;
}

.submit::before {
    content: url(./svgs/search.svg);
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5vh;
    color: #282C26;
}
.t{
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}
.line{
    border: 1px solid white;
    width: 100%;
}
.timezone {
    text-align: center;
}
.info {
    color: #E3D8D4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.baseInfo {
    width: 95%;
    font-size: 1.6rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.currDay {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    text-align: start;
    gap: 2vh;
    height: 40vh;
    width: 50%;
    z-index: 4;
    backdrop-filter: blur(10px);
    place-items: center;
    visibility:hidden;
}

.location_info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    grid-area: 1 / 1  / 1 / 3;
}

.locIcon {
    content: url(./svgs/location.svg);
    width: 10%;
}

.info_i {
    width: 80%;
    grid-area: 2 / 1  / 3 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.4rem;
    gap: 1vh;
}

.sun {
    margin-top: 1vh;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1vh;
}

.temp{
    color: #9ABBD6;
    font-weight: bold;
    font-size: 4rem;
}

.temp div {
    color: #E3D8D4;
    font-size: 1.2rem;
    font-weight: 300;
}

.date {
    grid-area: 3 / 1  / 4 / 3;
}


.xtrInfo {
    display: grid;
    grid-template-rows: 1fr 5fr;
    font-size: 1.6rem;
    place-items: center;
    width: 90%;
   
}

.card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    width: 100%;
    height: 100%;

    backdrop-filter: blur(10px);
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 25vh;
    width: 100%;
    gap: 2vh;
    backdrop-filter: blur(5px);
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #E3D8D4;
}

.nav {
    display: grid;

    width: 80%;    
    height: 100%;
}
.wDesc {
    align-self: flex-start;
    font-size: 1.5rem;
    color: #E3D8D4;
}

.wIndicator {
    position: relative;
    border-bottom: 5px solid grey;
    margin-bottom: 2vh;
    border-radius: 10px;
}

.pointer {
    content: url(./svgs/pointer.svg);
    height: 2vh;
    position: absolute;
    transition: ease 0.8s;
}

.week-wrapper {
    color: #E3D8D4;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0;
    place-items: center;
    justify-self: center;
}
.weekCard {
    width: 100%;
    height: 20vh;
    
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    place-items: center;
    font-size: 1.4rem;
    backdrop-filter: blur(5px);
}

.wcDesc {
    font-size: 1rem;
}

.weekCard img {
    width: 50%;
}
.tm {
    width: 100%;
    height: 8vh;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
}

.submit:hover {
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0 10px 0 #7DA0BD inset;
}

.weekCard:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 #7DA0BD inset;
    transition:  box-shadow 0.2s ease;
}

a {
    all: unset;
    margin-left: 5px;
    color: #E3D8D4;
}
a:hover {
    cursor: pointer;
}